<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{{ .title }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" type="image/png" href="favicon.png" />
        <link rel="apple-touch-icon" href="favicon.png" />

        <link rel="stylesheet" href="static/index.css">

        <meta name="theme-color" content="#fafafa">
    </head>
    <body>
        <div id="journal"></div>
        <script id="history" type="application/json">
            {{ .historyJson }}
        </script>
        <script src="static/index.js"></script>
	</body>
</html>
