.month-container {
    margin: 0 0.5rem;
    padding: 0.25rem;
}

.month-container:last-child {
    opacity: 60%;
}

.day {
    font-size: .8rem;
    text-align: center;
    height: 1.5rem;
    width: 1.5rem;
    padding: 0 .3rem;
    border-radius: .1rem;
}
.day:hover {
    box-shadow: 0 0 0.2rem;
}

.entry {
    background-color: #f49401;
}

.entry.today {
    color: #ccc;
    background-color: #23446f;
}

.day.selected {
    background-color: #999;
}
