@use "vendor/milligram-1.4.1/Base";
@use "vendor/milligram-1.4.1/Typography";
@use "vendor/milligram-1.4.1/Button";
@use 'calendar';

html, body, #journal {
  height: 100%
}

body {
  font-family: -apple-system,sans-serif;
  overflow: hidden;
}

.journal-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.content-row-container {
  overflow: hidden;
  flex-grow: 1;
  display: flex;
  border-bottom: 1px solid black;
}

.content-container {
  height: 100%;
  overflow: auto;
  flex-grow: 1;
  padding: 0.5rem;
}

.entry-container {
  border-left: 1px solid black;
  width: 30%;
  padding: 0.5rem;
}

.calendar-status-container {
  margin: 0.5rem 0;
  .button {
    margin-left:1rem;
  }
}

.calendar-container {
  //min-height: 13rem;
  min-height: 17rem;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
}